<p>
以下のフォームに、エクスポート出力ファイルを指定して送信してください：
</p>
<form action="./" method="post" enctype="multipart/form-data">
<div class="form">
  <input type="file" name="file" id="file" />
  <input type="submit" value="ファイル送信"/>
</div>
</form>
<% if @result %>
<div id="result">
  <% shelves = @result.map{|k, v| v.keys }.flatten.compact.uniq %>
  <table>
  <tr>
    <th></th>
    <% shelves.each do |shelf| %>
      <th><%= shelf %></th>
    <% end %>
  </tr>
  <% @result.sort.each do |k, v| %>
    <tr>
      <th><%= k %></th>
      <% shelves.each do |shelf| %>
        <td><%= v[shelf].to_a.size %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
</div>
<script language="Javascript" type="application/javascript">
var result_array = [];
var row = [""];
<% shelves.each do |shelf| %>
  row.push("<%= shelf %>");
<% end %>
result_array.push(row);
<% @result.sort.each do |k, v| %>
  var row = ["<%= k %>"];
  <% shelves.each do |shelf| %>
    row.push("<%= v[shelf].to_a.size %>");
  <% end %>
  result_array.push(row);
<% end %>
var csv_content = "data:text/csv;charset=utf-8,";
result_array.forEach(function(members, index){
  csv_content += members.join(",") + "\r\n";
});
var uri = encodeURI(csv_content);
var link = document.createElement("a");
link.textContent = "CSV形式でダウンロード";
link.setAttribute("href", uri);
link.setAttribute("download", "download.csv");
document.getElementById("result").appendChild(link);
</script>
<% end %>
<% if @baseurl %>
<ul>
  <li><a href="<%= @baseurl %>">図書館システムに戻る</a>
</ul>
<% end %>
