<p>
以下のフォームに、エクスポート出力ファイルを指定して送信してください：
</p>
<form action="./" method="post" enctype="multipart/form-data">
<div class="form">
  <input type="file" name="file" id="file" />
  <input type="submit" value="ファイル送信"/>
</div>
</form>
<% if @result %>
<div id="result">
<p>File: <%= params[:file][:filename] %></p>
  <% shelves = @result.map{|k, v| v.keys }.flatten.compact.uniq.sort %>
  <table>
  <tr>
    <th></th>
    <% shelves.each do |shelf| %>
      <th><%= shelf %></th>
    <% end %>
  </tr>
  <% @result.sort.each do |k, v| %>
    <tr>
      <th><%= k %></th>
      <% shelves.each do |shelf| %>
        <td><%= v[shelf].to_a.size %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
  <a href="#" id="download" download="download.csv" onclick="downloadCsv()">CSV形式でダウンロード</a>
</div>
<script language="Javascript" type="application/javascript">
function downloadCsv() {
var result_array = [];
var row = [""];
<% shelves.each do |shelf| %>
  row.push("<%= shelf %>");
<% end %>
result_array.push(row);
<% @result.sort.each do |k, v| %>
  var row = ["<%= k %>"];
  <% shelves.each do |shelf| %>
    row.push("<%= v[shelf].to_a.size %>");
  <% end %>
  result_array.push(row);
<% end %>
var csv_content = "";
result_array.forEach(function(members, index){
  csv_content += members.join(",") + "\r\n";
});
var bom = new Uint8Array([0xEF, 0xBB, 0xBF]);
var blob = new Blob([bom, csv_content], {type: "text/csv"});
var link = document.getElementById("download");
if (window.navigator.msSaveBlob) { 
  //window.navigator.msSaveBlob(blob, link.download); 
  window.navigator.msSaveOrOpenBlob(blob, link.getAttribute("download")); 
} else {
  link.href = window.URL.createObjectURL(blob);
}
}
</script>
<p>※除籍済みは集計から除いています。</p>
<% end %>
<% if @baseurl %>
<ul>
  <li><a href="<%= @baseurl %>">図書館システムに戻る</a>
</ul>
<% end %>
